:root {
--default-font-family:"Poppins", sans-serif;
--heading-font-family:"Playfair Display", serif;
--primary-color:#6c63ff;

}

body{
    box-sizing: border-box;
}


.content{
    margin-top: 90px;
}
h1,h2,h3,
h4, h5, h6{
    font-family: var(--heading-font-family);
    text-align: center;
}

h1{
font-size: 96px;
}

h2{
    font-size: 48px;
}

p{
font-size: 18px;
line-height: 1.5;


}

.description{
    font-size: 24px;
    opacity: 0.8;
    text-align: center;
}

.intro{
    font-family: var(--default-font-family);
    font-size: 36px;
    text-align: center;
}

.contact-info{
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 20px 20px;
    text-decoration: none;
}

.about-me{
border: 1px solid var(--primary-color);
border-radius: 4px;
color: var(--primary-color);
padding: 20px 25px;
 text-decoration: none;
 margin: 0 35px;
}

.about-info{
    padding: 90px;
}
.about-info h1{
    font-size: 64px ;
    font-family: var(--heading-font-family);
    line-height: 80px;
}

.about-section-content{
    padding: 30px;
}
.about-info h2{
    font-size: 18px;
    font-family:var(--default-font-family);
}

.about-btn{
   background-color: var(--primary-color);
    color: white;
    padding: 20px 30px;
    border-radius: 4px;
    text-decoration: none; 
}
.about-section{
    font-family: var(--default-font-family);
}

.yoga-link{
    background-color: var(--primary-color);
    color: white;
    padding: 20px 15px;
    border-radius: 4px;
    text-decoration: none;

}

.email-address{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: var(--default-font-family);
    text-decoration: none;
    color: var(--primary-color);
}
.email-address:hover{
    text-decoration: underline;
}

@media(max-width:900px) {
h1{
    text-align: center;
    font-size: 48px;
}
.description{
    text-align: center;
    font-size: 20px;
}
p{
text-align: center;
font-size: 14px;
}
.button-link{
    display: flex;
    justify-content: center;
}
.contacts{
    font-size: 30px ;
    
}
.email-address{
    font-size: 20px;
}

.about-info h1{
    font-size: 48px;
}


.about-info{
    padding: 0;
}

}
    
    

    



