:root {
--default-font-family:"Poppins", sans-serif;
--heading-font-family:"Playfair Display", serif;
--primary-color:#6c63ff;

}

body{
    box-sizing: border-box;
}


.content{
    margin-top: 85px;
}
h1,h2,h3,
h4, h5, h6{
    font-family: var(--heading-font-family);
    text-align: center;
}

h1{
font-size: 96px;
;
}

h2{
    font-size: 48px;
}

p{
font-size: 18px;
line-height: 1.5;


}

.description{
    font-size: 24px;
    opacity: 0.8;
    text-align: center;
}

.intro{
    font-family: var(--default-font-family);
    font-size: 36px;
    text-align: center;
}

.contact-info{
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 20px 20px;
    text-decoration: none;
}

.about-info{
border: 1px solid var(--primary-color);
border-radius: 4px;
color: var(--primary-color);
padding: 20px 25px;
 text-decoration: none;
 margin: 0 35px;
}

.yoga-link{
    background-color: var(--primary-color);
    color: white;
    padding: 20px 15px;
    border-radius: 4px;
    text-decoration: none;

}


.contacts-info{
    font-size: 48px;
    font-family: var(--default-font-family);
    text-align: center;
}

.email-address{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: var(--default-font-family);
    text-decoration: none;
    color: var(--primary-color);
}
    



